.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: #1c1c1c;
}

.user_left {
    display: flex;
    align-items: center;
}

.user_left__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_left__img img {
    width: 75px;
    margin-bottom: 10px;
}

.user_left__img button {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.25rem 0;
    font-size: 14px;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #0d6efd;
    margin-left: auto;
    box-shadow: none;
    border: 0;
    width: 110px;
    transition: all ease 0.2s;
}

.user_left__img button:hover {
    background-color: #0a5bd2;
}

.user_left__name {
    margin-left: 20px;
}

.user_left__name h4 {
    margin-bottom: 10px;
}

.user_right {

}

.user_right__country {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_right__country span {
    display: block;
}

.user_right__country span:nth-child(1) {
    font-weight: 500;
}

.btn_show {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.6rem 0;
    font-size: 14px;
    color: #fff;
    background-color: #0d6efd;
    margin-left: auto;
    box-shadow: none;
    border: 0;
    width: 100%;
    transition: all ease 0.2s;
    border-radius: 5px;
}

.btn_show:hover {
    background-color: #0a5bd2;
}