.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: #1c1c1c;
}

.user_left {
    display: flex;
    align-items: center;
}

.user_left__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_left__img img {
    width: 75px;
    margin-bottom: 10px;
}

.user_left__img button {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.25rem 0;
    font-size: 14px;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #0d6efd;
    margin-left: auto;
    box-shadow: none;
    border: 0;
    width: 110px;
    transition: all ease 0.2s;
}

.user_left__img button:hover {
    background-color: #0a5bd2;
}

.user_left__name {
    margin-left: 20px;
}

.user_left__name h4 {
    margin-bottom: 10px;
}

.user_right {

}

.user_right__country {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_right__country span {
    display: block;
}

.user_right__country span:nth-child(1) {
    font-weight: 500;
}

.btn_show {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.6rem 0;
    font-size: 14px;
    color: #fff;
    background-color: #0d6efd;
    margin-left: auto;
    box-shadow: none;
    border: 0;
    width: 100%;
    transition: all ease 0.2s;
    border-radius: 5px;
}

.btn_show:hover {
    background-color: #0a5bd2;
}

/*pagination*/

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.page-item:first-child .page_item span {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page_item span:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page_item span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page_item span:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page_item:first-child span {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page_item:last-child span {
    margin-left: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 0;
}

.page_item span:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.active {
    font-weight: bold;
}