.header {
	grid-area: h;
	background: green;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	justify-content: space-between;
}

.header img {
	width: 30px;
}

.loginBlock {
	padding-right: 20px;
	font-weight: 500;
	color: #fff;
}

.loginBlock a {
	color: #fff;
	transition: all ease 0.2s;
}

.loginBlock a:hover {
	color: #62b7ff;
}
