.sidebar {
	grid-area: s;
	background: green;
	color: #fff;
	padding: 10px 15px;
}

.sidebar .menu {
}

.sidebar .menu ul {
}

.sidebar .menu ul li {
	margin-bottom: 10px;
}

.sidebar .menu ul li:last-child {
	margin-bottom: 0;
	margin-top: 30px;
}

.sidebar .menu ul li a {
	color: #fff;
	font-size: 21px;
	font-weight: 400;
}

.friends {
}

.friends h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 36px;
	font-weight: 400;
}

.friends ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.friends ul li {
	text-align: center;
}

.friends ul li a img {
	width: 40px;
}

.friends ul li a p {
	color: #fff;
}
