* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.App {
	margin: 0 auto;
	width: 1200px;
	display: grid;
	grid-template-areas:
		"h h"
		"s c";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 3fr 9fr;
}

.content {
	grid-area: c;
	padding: 0 10px;
	padding-bottom: 40px;
}